{% if messages %}
    {% for message in messages %}
        <div class="alert 
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            alert-danger
            
        {% else %}
            {{message.tags |title}} 
        {% endif %}
            alert-dismissible fade show" role="alert">
        <strong>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            warning:
            {% else %}
            {{message.tags |title}} 
            {% endif %}
            
        </strong> 
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}
{% endif %}